* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(3, 35, 56);
    color: white;
}


header {
    padding: 25px 8%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

header a {
    position: relative;
    color: rgb(51, 160, 250);
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    margin-right: 25px;
}

header a::before {
    top: 100%;
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(51, 160, 250);
    transition: .3s;
}

header a:hover::before {
    left: 0;
    width: 100%;
}

nav {
    padding-left: 45%;
    align-items: center;
}

nav a {
    font-size: 20px;
}

.index-content {
    text-align: center;
    margin: 5% auto;
    color: rgb(90, 197, 240);
    background-color: rgb(12, 67, 99);
    width: 35%;
    padding: 8px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 15px;
    cursor: default;
}

.highlight-text {
    color: rgba(128, 195, 235, 0.877);
    font-weight: bolder;
}

.info {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 25px;
    font-family: monospace;
}

.button {
    background-color: rgb(39, 148, 236);
    padding: 11px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    width: 60px;
}


footer {
    width: 100%;
    background-color: rgb(4, 44, 68);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: medium;
}

.h1-style {
    margin: 2%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 32px;
}

.list-top {
    color: rgb(51, 160, 250);
    font-size: larger;
    font-weight: bolder;
    margin-left: -60px;
    width: 340px;
    padding: 15px;
}

li {
    margin: 15px;
}

.lists {
    margin-left: 27%;
    margin-bottom: 7%;
    font-size: 17px;
    color: rgb(19, 141, 241);
}

.white-color {
    color: white;
}

.hour {
    background-color: rgb(10, 60, 88);
    width: 36%;
    text-align: center;
    margin: 5% auto;
    padding: 8px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 17px;
}

.contact {
    text-align: center;
    margin: 5% auto;
    font-family: monospace;
    font-size: 14px;
    width: 280px;
}

.contact-highlight {
    margin: 3px;
    font-size: 25px;
    color: rgb(51, 160, 250);
    font-weight: bolder;
}

.animation {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.animation:hover,
.animation:focus,
.animation:active {
    box-shadow: 0 0 10px rgba(78, 147, 226, 0.822);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.box {
    box-shadow: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.box:hover,
.box:focus,
.box:active {
    box-shadow: 0 0 10px rgb(3, 35, 56);
    cursor: default;
}