* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(3, 35, 56);
    color: white;
}


header {
    color: rgb(51, 160, 250);
    background-color: rgb(11, 75, 117);
    padding: 15px;
    text-align: center;
}

.nav-padding {
    background-color: rgb(9, 85, 129);
    padding: 10px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: rgb(98, 178, 243);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 7%;
}

.nav-link:hover {
    color: rgb(206, 229, 248);
}

.index-content {
    text-align: center;
    margin: 5% auto;
    color: rgb(90, 197, 240);
    background-color: rgb(12, 67, 99);
    width: 35%;
    padding: 8px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 15px;
}

.highlight-text {
    color: rgba(255, 255, 255, 0.877);
}

.info {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
    font-family: monospace;
}

.button-layout {
    text-align: center;
    margin-bottom: 35px;
}

.button {
    background-color: rgb(10, 100, 151);
    padding: 11px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.button:hover {
    background-color: rgb(6, 71, 109);
}

footer {
    width: 100%;
    background-color: rgb(4, 44, 68);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: medium;
}